nav{
	background-color: #808080;
}
nav a{
  	text-decoration:none;
    background-color:#ffbf00;
    padding:35px;
    display:block;
    float:left;
    color: white;
}
a:hover{
  background-color:#ee5f3c;
}
h1{
	color: rgb(2,132,130);
    text-align:center
}
h2{
	color: #ffd700;
}
.board{
	height: 50%;
	width: 50%;
	display: inline-block;
	float:left;
    text-align:center;
}
.card{
	height: 200px;
	width: 150px;
	border: 1px solid black;
	background-color: rgb(255,255,0);
	border-radius:10px;
    float:left;
    margin:8%;
}

.name{
	color:#ff0000;
}
.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
}
img{
  width:150px;
  height:200px;
}
footer{
  clear:both;
  background-color:#808080;
  text-align:center;
}
